html { height: 100%; }
body {
    min-height: 100%;
    min-height: 100vh;
}
h1{
    color: #333;
}
.bg-header{
    background-color: #00599e;
}
.fondo{
    background-color: #00599e;
}

.sidebar{background-color: #333333}
.cont{
    min-height: 100%;
    min-height: 100vh;
}

.top{
    margin-bottom: 2em;
}


.footer{
    background-color: #d2d6de;

}

.container-flex{
    display: flex;
}

.sidebar{
    width: 20%;

}
.contenido{
    width:85%;
    padding: 5px;
}
.mix-top{
    border-bottom: 1px solid #ccc;
    padding: 1em 0em;
}
.bg-table{
    background-color: #E0E0E0;
   
}
.cabez-table{
    margin-top: 2em;
}

.cabez-table td{
    border-top:1px solid #ccc;
    border-bottom: :1px solid #E0E0E0;     
}
.cabez-table tr:hover{
    background-color: #E0E0E0;
}
.flex-crud{
    display: flex;
}
.flex-crud_item{
    padding: 0em 0.5em;
}


/*:::::::::::::::::::::menu principal:::::::::::::::::*/
ul, menu, dir{
    -webkit-margin-before: 0em;
    -webkit-margin-after:0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.color{
    color:#ffffff;
}
.menu-principal{display: block;list-style: none;}

.menu-principal li{
    display:block;text-decoration: none;
    padding: 0.5em;
    border: solid 1px #4a4a4a;
}

.menu-principal li a{color: #ffffff;text-decoration:none; }
.menu-principal li:hover{
    background-color: #2b2b2b;

}